*{
    margin: 0%;
    box-sizing: border-box;
      
      
}
.container{
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2fr);
     padding: 3rem;

}
.body{
width: 100vw;
height: 100vh;
}
.item{
    background-color: red;
    border: 5px solid black
}